* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  background-color: #151414;
}

nav > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 9vw;
}

nav h3 {
  position: relative;
  height: 11vh;
  padding: 0 1vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all ease-in-out 0.25s;
}

nav h3:hover {
  color: #000;
  z-index: 9;
}

nav h3::after {
  content: attr(data);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e0f1f3;
  transition: all ease-in-out 0.25s;
}

nav h3:hover::after {
  top: 0;
}

.page3-elem-number > h1 {
  font-size: 8vw;
  -webkit-text-stroke: 1px #e0f1f3;
  color: transparent;
}

.scroller-text {
  position: relative;
  animation: scroller 40s linear infinite both;
}

@keyframes scroller {
  100% {
    transform: translateX(-100%);
  }
}

.page4 {
  overflow-x: hidden;
}

.page4-elem > img {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page4-elem:hover.page4-elem > img {
  transform: rotate(-5deg);
  scale: 1.1;
}

.scroller-text-box {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page4-elem:hover.page4-elem > .scroller-text-box {
  opacity: 1;
}

.page4-scroller-right {
  transform: translateX(-40%);
}

.page4-scroller-left {
  transform: translateX(40%);
}

.swiper {
  width: 100%;
  height: 40%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border-radius: 2vw;
}

.swiper-slide:nth-child(1) {
  background-color: #ddc6a4;
}

.swiper-slide:nth-child(2) {
  background-color: #a7dce1;
}

.swiper-slide:nth-child(3) {
  background-color: #a8aeda;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.page6-animation {
  transition: all ease 1s;
}
